body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

.main-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

.section-accueil {
  display: grid;
  grid-template-columns: 1fr 250px 250px 1fr;
  grid-gap: 2%;
  width: 100%;
  justify-content: center;
  grid-template-areas: ".a b." ".c d.";
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 1em;
  height: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}

.text {
  transition: 0.3s linear;
}
.text:hover {
  font-size: 1.5em;
}

.note {
  color: black;
  background-color: #fcdfdb;
  font-family: "Tangerine", cursive;
  grid-area: a;
}

.note span {
  color: #000;
}

.chic {
  background-color: #fff5fe;
  color: bisque;
  grid-area: b;
}

.makt4 h3 {
  background: linear-gradient(to right, #e38913 30%, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.makt4 header {
  width: 190%;
}

.chicColor {
  color: #e38913;
}

.chicFran {
  color: #ee82ee;
}

.chicTest {
  color: #8f5bfe;
}

.chic span {
  background: linear-gradient(to right, #e38913 30%, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playball", cursive;
}

.makt3 h3 {
  background: linear-gradient(to right, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.makt3 header {
  width: 190%;
}

.delice {
  background-color: #f9f9f9;
  font-family: "Dancing Script", cursive;
  font-size: 1em;
  grid-area: c;
  background: linear-gradient(to right, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.makt2 h3 {
  background: linear-gradient(to right, #90ee90, #32cd32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.makt2 header {
  width: 190%;
}

.gout {
  background-color: #ffffff;
  grid-area: d;
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #90ee90, #32cd32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  font-size: 2em;
  background: linear-gradient(to right, #ff0000, #f4a460);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  color: #fdcb46;
  background-color: #579c87;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

h2 {
  font-size: small;
}

.aven {
  background-color: #579c87;
  color: #fdcb46;
  text-align: center;
  width: 210px;
  margin: 10%;
  border-radius: 9px;
  margin-bottom: 100px;
}

.aven h2 span:nth-child(2) {
  animation: point 1s infinite;
  animation-delay: 0.25s;
}

.aven h2 span:nth-child(3) {
  animation: point 1s infinite;
  animation-delay: 0.5s;
}

.aven h2 span:nth-child(4) {
  animation: point 1s infinite;
  animation-delay: 0.75s;
}

@keyframes point {
  0% {
    color: #fdcb46;
    opacity: 0;
  }
  40% {
    color: #f9f9f9;
  }
  100% {
    color: #fdcb46;
    opacity: 1;
  }
}
main {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  color: #fdcb46;
  height: 100%;
  align-items: center;
  padding-right: 10px;
}

ul {
  display: contents;
}

aside {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 57px;
  position: fixed;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  height: 57px;
}

.makt1 {
  background-color: #fcdfdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  top: -40px;
  width: 60%;
  font-family: fantasy;
}

.makt1 header {
  width: 190%;
}

ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 12px;
  padding: 5px 0;
  padding-left: 0 10px;
}

h4 {
  text-align: center;
  font-family: serif;
}

h5::after, h4::after {
  content: "";
  display: block;
  width: 0;
  height: 2.5px;
  background: linear-gradient(to right, #000, #fff5fe);
  transition: all 0.2s ease;
}

h5:hover::after, h4:hover::after {
  width: 100%;
  transition: all 0.2s ease;
}

h3 {
  font-size: 1em;
  text-align: center;
  font-family: fantasy;
}

p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.makt2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: fantasy;
}

.tittleimg {
  width: 160px;
  height: 70px;
}

.menuTittle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h5 {
  text-align: center;
}

.makt3 {
  background-color: #edefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: fantasy;
}

.makt4 {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

li span {
  padding-left: 15px;
}

.accueil1 {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #fcdfdb;
  font-family: "Tangerine", cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  display: flex;
}

.accueil2 {
  background-color: #fff5fe;
  color: #e38913;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Playball", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.accueil3 {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  background-color: #f9f9f9;
}

.accueil4 {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Kaushan Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  background-color: #ffffff;
}

.page4 {
  background: linear-gradient(to right, #90ee90, #32cd32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page3 {
  background: linear-gradient(to right, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page2 span {
  background: linear-gradient(to right, #e38913 30%, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p:hover {
  -webkit-animation: wobble-ver-left 0.5s both;
  animation: wobble-ver-left 0.5s both;
}

@-webkit-keyframes wobble-ver-left {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 20% 20%;
    transform-origin: 20% 20%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }
}
@media (max-width: 768px) {
  h1 {
    width: 100%;
  }

  .nav {
    width: 100%;
    padding-right: 20px;
  }

  body {
    display: block;
    position: relative;
  }

  .section-accueil {
    display: inline-block;
    grid-template-columns: repost(auto-fit, minmax(250px));
    grid-gap: 50%;
    width: 80%;
  }

  .menu {
    margin: 10px;
    text-align: center;
  }

  .tittleimg {
    width: 90px;
  }

  .main-accueil {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  .litlleNote {
    bottom: 0;
    left: 0;
    height: 57px;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
